@import "tailwindcss";

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-gist: Geist, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-roboto: Roboto, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --spacing-10: 2.5rem;

    /* Breakpoints */
    --breakpoint-yt-xl: 1705px;
    --breakpoint-yt-lg: 1080px;
    --breakpoint-yt-md: 1024px;
    --breakpoint-yt-sm: 972px;
    --breakpoint-yt-xs: 840px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

/* custom scrollbar (start) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-500 dark:bg-zinc-400 rounded-full;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600 dark:bg-zinc-300;
}
.custom-scrollbar::-webkit-scrollbar {
    @apply size-2;
}
.custom-scrollbar.scrollbar-extra-small::-webkit-scrollbar {
    @apply size-4.5;
}
.custom-scrollbar.scrollbar-extra-small::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: content-box;
}
/* custom scrollbar (end) */

/* custom alert (start) */
.alert-base {
    @apply w-full max-w-2xl py-3.5 px-5 bg-white dark:bg-black rounded-lg border border-zinc-200 dark:border-zinc-800 flex gap-3 [&_svg]:h-5 [&_svg]:w-5 [&_svg]:text-zinc-500 [&_svg]:dark:text-zinc-400 [&_span]:text-sm [&_span]:text-zinc-800 [&_span]:dark:text-zinc-200 [&_span]:inline-block;
}

.alert-base.alert-success {
    @apply bg-green-50 dark:bg-[#020D06] border-green-200 dark:border-green-800/30 [&_span]:text-green-800 [&_span]:dark:text-green-200 [&_svg]:text-green-500 [&_svg]:dark:text-green-400 [&_h3]:text-green-800 [&_h3]:dark:text-green-200 [&_p]:text-green-900 [&_p]:dark:text-green-200;
}

.alert-base.alert-error {
    @apply bg-red-50 dark:bg-[#190404] border-red-200 dark:border-red-800/30 [&_span]:text-red-800 [&_span]:dark:text-red-200 [&_svg]:text-red-500 [&_svg]:dark:text-red-400 [&_h3]:text-red-800 [&_h3]:dark:text-red-200 [&_p]:text-red-800 [&_p]:dark:text-red-200;
}

.alert-base.alert-warning {
    @apply bg-yellow-50 dark:bg-[#22150B] border-yellow-200 dark:border-yellow-800/30 [&_span]:text-yellow-800 [&_span]:dark:text-yellow-200 [&_svg]:text-yellow-500 [&_svg]:dark:text-yellow-400 [&_h3]:text-yellow-800 [&_h3]:dark:text-yellow-200 [&_p]:text-yellow-800 [&_p]:dark:text-yellow-200;
}

.alert-base.alert-info {
    @apply bg-blue-50 dark:bg-[#04081C] border-blue-200 dark:border-blue-800/30 [&_span]:text-blue-800 [&_span]:dark:text-blue-200 [&_svg]:text-blue-500 [&_svg]:dark:text-blue-400 [&_h3]:text-blue-800 [&_h3]:dark:text-blue-200 [&_p]:text-blue-800 [&_p]:dark:text-blue-200;
}
/* custom alert (end) */

/* badge (start) */
.badge {
    @apply w-fit rounded-full font-medium flex items-center select-none;
}

.badge.gray {
    @apply bg-zinc-500 text-white;
}

.badge.blue {
    @apply bg-blue-600 text-white;
}

.badge.purple {
    @apply bg-purple-600 text-white;
}

.badge.amber {
    @apply bg-amber-500 text-black;
}

.badge.red {
    @apply bg-red-500 text-white;
}

.badge.pink {
    @apply bg-pink-500 text-white;
}

.badge.green {
    @apply bg-green-600 text-white;
}

.badge.teal {
    @apply bg-teal-600 text-white;
}

.badge.gray-subtle {
    @apply bg-zinc-200 text-zinc-800 dark:bg-zinc-950/50 dark:text-zinc-400;
}

.badge.blue-subtle {
    @apply bg-blue-100 text-blue-700 dark:bg-blue-950/50 dark:text-blue-400;
}

.badge.purple-subtle {
    @apply bg-purple-100 text-purple-700 dark:bg-purple-950/50 dark:text-purple-400;
}

.badge.amber-subtle {
    @apply bg-amber-100 text-amber-700 dark:bg-amber-950/50 dark:text-amber-400;
}

.badge.red-subtle {
    @apply bg-red-100 text-red-700 dark:bg-red-950/50 dark:text-red-400;
}

.badge.pink-subtle {
    @apply bg-pink-100 text-pink-700 dark:bg-pink-950/50 dark:text-pink-400;
}

.badge.green-subtle {
    @apply bg-[#E9F6ED] text-green-700 dark:bg-green-950/50 dark:text-green-400;
}

.badge.teal-subtle {
    @apply bg-teal-100 text-teal-700 dark:bg-teal-950/50 dark:text-teal-400;
}

.badge.invert {
    @apply bg-gray-900 text-gray-100 dark:invert;
}
/* badge (end) */

.display-none {
    display: none;
}
